@mixin modalKit {
  padding: 10px;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, .9);
  z-index: 1400;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  &:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: "";
  }
  &__box {
    font-size: 16px;
    white-space: normal;
    word-break: break-word;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #22262F;
    width: 100%;
    height: max-content;
    max-width: 380px;
    padding: 20px;
    border-radius: 6px;
  }
  &__text {

  }
  &__content {
    padding: 35px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    &_description {
      margin-bottom: 5px;
    }
  }
  &__title {
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
  }
  &__description {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #898B8F;
    margin-bottom: 20px;
  }
  &__x {
    background-color: transparent;
    border: none;
    outline: none;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover {
      border: none;
      outline: none;
    }
    &:active {
      border: none;
      outline: none;
    }

  }
}

@mixin ModalBody {
  .modal {
    &__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__field {
      padding-bottom: 20px;
      border-bottom: 1px solid #FFFFFF1A;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 5px;
      }
    }
    &__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &__label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      margin-bottom: 6px;
      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('~/assets/img/icons/radio-default.svg');
        background-repeat: no-repeat;
        background-position: center center;}
    }
    &__input:checked+label::before {
      background-image: url('~/assets/img/icons/radio-active.svg');
    }
    &__input:not(:disabled):not(:checked)+label:hover::before {
      background-image: url('~/assets/img/icons/radio-hover.svg');
    }
    &__input:not(:disabled):not(:checked):active+label::before {
      background-image: url('~/assets/img/icons/radio-hover.svg');
    }
    &__input:focus+label::before {
      background-image: url('~/assets/img/icons/radio-active.svg');
    }
    &__text {
      color: #fff;
      margin-left: 8px;
      font-family: Inter;
      font-size: 17px;
      font-weight: 400;
      line-height: 23px;
    }
    &__description {
      color: #898B8F;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    &__button {
      width: 45%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #5B9490;
      border: 1px solid #5B9490;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0;
      padding: 0 28px;
      border-radius: 7px;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #fff;
        background-color: #5B9490;
      }
      &_add {
        color: #fff;
        background-color: #5B9490;
        &:hover {
          color: #5B9490;
          background-color: transparent;
        }
      }

    }
    &__error {
      font-size: 14px;
      color: red;
      font-weight: 400;
      margin-bottom: 15px;
    }
    &__picker {
      border: 1px solid #303540;
      height: 50px;
      border-radius: 9px;
      &::placeholder {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #898B8F;
      }
      &:focus {
        border: 1px solid #5B9490;
      }
      &:hover {
        border: 1px solid #5B9490;
      }
      &:active {
        border: 1px solid #5B9490;
      }
    }

  }
}
